.card {
    display: flex;
    max-width: 55rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.meal-image {
    width: 20rem;
    clip-path: circle(50%);
}

.word {
    padding: 2rem 2rem;
}

h2 {
    font-size: 2.3rem;
    color: rgb(255, 35, 101);
}

p {
    font-size: 1.5rem;
    padding: 1rem;
}

h3 {
    font-size: 2rem;
    color: rgb(255, 35, 101);
    padding: 1rem;
}

input {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    color: rgb(255, 35, 101);
}

input:active,
input:focus {
    border: none;
    outline: none;
}

.button {
    border: none;
    background-color: rgb(255, 35, 101);
    color: aliceblue;
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    width:30%;
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover {
    border-radius: 35%;
}